.bannerBox{
  background: url('../banner.jpg');
  background-size: cover;
}
.bannerBox .w-1200{
  height: 290px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#login{
  width: 269px;
  height: 192px;
  margin-right: 47px;
  background-color: rgba(255,255,255,0.95);
  border: 1px solid #03329a;
  color: #03329a;
  font-size: 14px;
}
.login-top{
  display: flex;
  justify-content: space-between;
  padding: 15px 0 10px 0;
  margin:0 10px;
  border-bottom: 1px solid #03329a;
}
.login-input input{
  width: 180px;
  height: 23px;
  border: 1px solid #03329a;
}
.user{
  margin-top:22px;
  margin-bottom: 15px;
}
#login > input{
  width: 94px;
  height: 25px;
  border: 1px solid #03329a;
  color: #ffffff;
  background-color: #03329a;
  margin-top: 17px;
}
.contentBox{
  height: 500px;
  display: flex;
  justify-content: center;;
  align-items: center;
}
.content {
  width: 1133px;
  height: 425px;
  border: 1px solid #03329a;
}
.con-nav {
  display: flex;
}
.con-nav>p {
  width: 267px;
  line-height: 53px;
  background-color: #03329a;
  color: #ffffff;
  font-size: 16px;
  border: 1px solid #808080;
  box-sizing: border-box;
}
.con-nav ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.con-nav li {
  width: 217px;
  line-height: 53px;
  background-color: #03329a;
  color: #ffffff;
  font-size: 16px;
  border: 1px solid #808080;
  box-sizing: border-box;
}
.con-nav .active {
  background-color: white;
  color: #03329a;
  border: none;
}

.con-nav +div{
  display: flex;
}
.pro-menu{
  width: 265px;
  height: 370px;
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  border-right: 1px solid #03329a;
  box-sizing: border-box;
  background-color: #f4f4f8;
}
.pro-menu li{
  width: 256px;
  line-height: 46px;
  text-align: left;
  padding-left: 11px;
}
.pro-menu +div{
  width: 866px;
  height: 370px;
}
.pro-menu .proActive{
  background-color: #03329a;
  color: #ffffff;
}

.newCommand{
  width: 1133px;
  border-bottom: 2px solid #2e4794;
  margin: 0 auto;
}
.newCommand>p{
  line-height: 40px;
  font-size: 18px;
  border-bottom: 2px solid #2e4794;
  background: url('../newCommandbg.png') no-repeat;
  background-position: center;
  color: #ffffff;
}
.nC-box ul{
  display: flex;
  justify-content: space-between;
  margin: 40px auto 29px;
  font-size: 14px;
}
.newCommand input{
  line-height: 31px;
  width: 110px;
  background-color: #2e4794;
  color: #ffffff;
  border-style: none;
  margin-bottom: 14px;
}


.sectionTab{
  width: 1133px;
  height: 410px;
  margin: 63px auto 0;
  border: 1px solid #2e4794;
}
.sec-ul li{
  width: 283px;
  line-height: 48px;
  background-color: #2e4794;
  color: #ffffff;
}
.sectionTab .secActive{
  background-color: white;
  color: #03329a;
  border: none;
}
.tech ul{
  display: flex;
  justify-content: space-around;
  margin-top: 54px;
}
.tech ul li{
  height: 274px;
  width: 225px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}
.tech p{
  margin-top: 12px;
  width: 225px;
  font-size: 12px;
}
.tech .btn{
  font-size: 14px;
  width: 44px;
  height: 20px;
  background-color: #f4f4f8;
  border: 1px solid #03329a;
}
.web ul{
  display: flex;
  justify-content: space-around;
  padding: 27px;
}
.web li{
  width: 281px;
  text-align: center;
}
.web li img+p {
  font-size: 16px;
  font-weight:bold;
  width: 240px;
  display: inline-block;
  line-height: 25px;
}
.web li p:last-child{
  font-size: 14px;
  font-weight: normal;
  line-height: 25px;
  margin-top: 10px;
  text-align: left;
}
